@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.woff);
  
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: OpenSans, Arial, sans-serif;
}

/* close-btn */

.close-btn {
  position: absolute;
  top: -25px;
  right: 0;

  width: 20px;
  height: 20px;
}

/* popup */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}


.popup-content {
  width: 400px;
  height: 600px;
  background: #ffffff;
  z-index: 6;
  padding: 50px 40px;

  position: relative;
  
}

.popup-content .popup-title {
  font-size: 20px;
}

.popup-card {
  width: 100%;
  margin-bottom: 39px;
}

.popup-text {
  font-size: 14px;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

.popup-card-list {
  width: 100%;
  padding: 10px 20px;
  background-color: #f3f7f6;
  color: #828282;
  border: none;
  box-sizing: border-box;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 10px center;
  cursor: pointer;
}

.popup-card-list:hover {
  border: 2px solid #b59f5b;
}

/* radio */
.email-group {
  margin-bottom: 25px;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-option{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.custom-radio {
display: none;
}

.radio-text{
  font-size: 14px;
}

.radio-image {
  display: flex;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-popup-first,
.image-popup-second {
  background-image: url(../svg/form-empty-circle.svg);
}

.radio-yes .custom-radio:checked ~ .image-popup-first {
  background-image: url(../svg/form-circle.svg);
}

.radio-no .custom-radio:checked ~ .image-popup-second {
  background-image: url(../svg/form-circle.svg);
}

/* textarea */

.popup-form-group {
  width: 100%;
  margin-bottom: 20px;
 
}

.popup-textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100px;

  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #f3f7f6;

  max-height: 130px;
  min-height: 130px;

}

.popup-textarea:hover {
  border: 2px solid #b59f5b;
}

/* button */

.popup-button {
  width: 100%;
  padding: 18px;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

/* header */

.header {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #555555;
  width: 100%;
  padding: 27px 0;
  padding-bottom: 125px;
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
  z-index: -1;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 15px;
}

.header-logo {
  width: 180px;
}

.navigation-list {
  display: flex;
  list-style: none;
  gap: 35px;
  font-size: 13px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  text-decoration: underline;
}

.intro {
  max-width: 690px;
  margin: 0 auto;
  margin-top: 100px;
}

.title {
  text-align: center;
  font-size: 45px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

/* section 1 */

.trends {
  max-width: 100%;
  margin: 55px 0 10px 0;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #161516;
}

.section-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #ae9e5f;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  margin-bottom: 30px;
}

.section-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
  }

.trend-article{
    position: relative;
    z-index: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #555555;
   
    width: 100%;
    min-height: 320px;
    box-sizing: border-box;
    
    padding: 15px 25px;
  }

.trend-article::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
    z-index: -1;
}

.trend-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
   
}

.content-wrapper {
    border: 2px solid #b59f5b;
    padding: 25px;
  }

.image-first {
    background-image: url(../img/trend1.jpg);
   
}

.image-second {
    background-image: url(../img/trend2.jpg);
}

.image-third {
    background-image: url(../img/trend3.jpg);
}

.image-fourth {
    background-image: url(../img/trend4.jpg);
}

.trend-article .trend-title {
    color: #ffffff;
}

     /* блок маин */
.main-conteiner {
   max-width: 1200px;
   margin: auto;
    
    box-sizing: border-box;
    padding: 50px 17px 60px 15px;
  }

.shared-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    
}

.article {
  display: flex;
  box-sizing: border-box;
  max-width: 778px;
  height: auto;
}

.article:nth-child(n+2) {
  margin: 57px 0;
  
}

.main-img {
  flex-shrink: 0;
  background-color: #555555;
  margin-top: 3px;
}

.main-img-link {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.article-content {
  margin-left: 29px;
}

.list-link {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.link-article {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  margin-right: 20px;
}

.link-article:hover {
  text-decoration: underline;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  line-height: 1.5;
}

.news-link {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
  color: #161515;
}

.news-link:hover {
  text-decoration: underline;
}

.news-data {
  display: flex;
  margin-bottom: 48px;
  margin-top: 20px;
}

.data {
  margin-right: 12px;
  font-size: 12px;
  color: #989898;
}

.news-author {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.news-text {
  font-size: 15px;
  color: #161516;
  line-height: 1.5;
}

.one-text {
  margin-top: 8px;
}

/* sidebar */

.sidebar{
  width: 270px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-section {
  width: 100%;
}
  
.post-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #161516;
}

.post-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #ae9e5f;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 24px;
}

.bar-article {
  display: flex;
  margin-bottom: 18px;
}

.bar-news-img {
  flex-shrink: 0;
  width: 67px;
  height: 70px;
  background-color: #555555;
  margin-top: 4px;
}

.bar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.bar-content {
  margin-left: 20px;
}

.bar-time {
  display: flex;
  font-size: 12px;
  color: #989898;
}

.bar-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.bar-title-text {
  line-height: 18px;
}


.bar-link:hover {
  text-decoration: underline;
}

/* поиск */

.form {
  display: flex;
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;
}

.form-search:hover {
  outline: 2px solid #ae9e5f;
}

.search-query {
  width: 220px;
  flex-grow: 1;
  height: 45px;
  padding: 0 16px;
  font-size: 13px;
  background: #f5f7f6;
  color: #a1a2a2;
  border: none;
}

.search-query:focus {
  outline: 2px solid #ae9e5f;
}

.form-button {
  display: block;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ae9e5f;
  background-size: 17px;
  border: none;
  cursor: pointer;
}

.newsletter-title {
  margin-top: 60px;
}

.newsletter-mail-text {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  background: #f5f7f6;
  font-size: 13px;
  color: #a1a2a2;
  border: none;
}

.newsletter-mail-text:focus {
  outline: 2px solid #ae9e5f;
}

.newsletter-button {
  display: block;
  width: 100%;
  height: 48px;
  margin-top: 15px;
  text-align: center;
  background-color: #ae9e5f;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 48px;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #353535;
}

/* теги */

.teg-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.teg-link{
  box-sizing: border-box;
  margin-right: 5px;
  margin-bottom: 6px;
  padding: 4px 14px;
  border: 3px solid #ededed;
  font-size: 12px;
}

.teg-link:hover {
  border: 3px solid #ae9e5f;
}

.teg-link-name{
  text-transform: uppercase;
  text-decoration: none;
  color: #161516;
  font-weight: bold;
}

/* тема */

.topic-list {
  list-style: none;
}

.newsletter-title-topic {
  margin-top: 50px;
}

.topic-name {
  display: block;
  padding-bottom: 8px;
  border-bottom: 1px solid #ededed;
}

.topic-name:nth-child(n+2) {
  padding-top: 15px;
}

.topic-link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.topic-link:hover {
  color: #ae9e5f;
}

.number {
  display: inline-block;
  font-size: 12px;
  color: #ae9e5f;
  padding-left: 5px;
  font-weight: bold;
}

/* section 2 */

.conteiner-cadr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 62px;
}

.shop-box {
  width: calc((100% - 124px) / 3);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shop-post-title {
  font-size: 20px;
}

.content-shop {
  display: flex;
  flex: 1;
}

.shop-img {
  padding: 0 23px;
}

.shop-image {
  width: 100%;
  height: auto;
  background: #989898 ;
}

.shop-title-link {
  font-size: 20px;
}

.shop-link-word {
  text-decoration: none;
  color: #b59f5b;
}

.shop-link-word:hover {
  text-decoration: underline;
}

.shop-border {
  border: 3px solid #b59f5b;
  padding: 48px 20px 20px 20px;
  margin-top: -35px;
  flex: 1;
}

.shop-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
}

.shop-prices {
  display: flex;
  flex-direction: column;
}

.shop-product__price {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.shop-product__price .price-old {
  text-decoration: line-through;
  font-size: 14px;
}

.shop-price-value {
  font-weight: 700;
  font-size: 20px;
}

.shop-button {
  width: 100%;
  max-width: 140px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background: #b59f5b;
  border: none;
  padding: 18px 0 18px 0;
}




/* подвал  */

.content-footer {
  max-width: 1170px;
  margin: auto;
}

.footer-box {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 31px 0;
  gap: 30px;
  margin-top: 8px;
  background-color: #f4f7f6;
  margin-bottom: 68px;
}

.footer-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.footer-icon--dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.footer-icon--pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.footer-icon--tumblr {
background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  text-align: center;
  margin: 0;
  
}

.copyright-link {
  font-size: 12px;
  text-decoration: none;
  color: #989898;
}

/* media 641-1200 header */

@media (min-width: 641px) and (max-width: 1200px) {

.header {
  background-image: url("../img/banner-bg-tablet.jpg");
  padding: 45px;
  padding-bottom: 125px;
}

.content {
  padding: 0 35px;
}

.header-logo {
  width: 158px;
}

.navigation-list {
  display: none;
}

.intro {
  margin-top: 79px;
}

.title {
  font-size: 38px;
  line-height: 1.375;
}

/* section 1 */

.trends {
    margin: 43px 0 10px 0;
  }

.section-title {
    font-size: 17px;
  }

.section-block {
    grid-template-columns: repeat(2, 1fr);
  }

.trend-article{
    min-height: 243px;
    padding: 60px 25px 12px 25px;
  }

.content-wrapper {
    padding: 23px 32px;
  }

  .trend-title {
    font-size: 17px;
  }

  /* main */

.article {
    flex-direction: column;
  }

.main-conteiner {
    padding: 35px 40px 60px 40px;
  }

.shared-container {
    margin-bottom: 5px;
    
}

.article:nth-child(n+2) {
  margin: 57px 0;
  
}

.article-content {
  margin-left: 0;
  margin-top: 20px;
}

.link-article {
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
}

.news-title {
  font-size: 17px;
  margin-top: 5px;
  line-height: 1.5;
}

.news-link {
  line-height: 1.5;
}

.news-data {
  margin-bottom: 48px;
  margin-top: 20px;
}

.data {
  margin-right: 12px;
  font-size: 12px;
}

.news-author {
  font-size: 12px;
}

.news-text {
  font-size: 15px;
  line-height: 1.5;
}

.one-text {
  margin-top: 8px;
}

}